@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.cartao{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 380px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.produto img{
    flex: 0.6;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    height: 100%;
}

.informacoes-produto{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.linha-produto{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.linha-tamanho{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.btn-tamanho{
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

.btn-tamanho-selecionado{
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.comprar-produto-btns{
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.btn-comprar{
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: #090913;
    color: white;
}

.btn-carrinho{
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.btn-favorito{
    border: 1px solid #c2c2c2;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    background-color: white;
}

.descricao-produto{
    flex: 1;
    display: flex;
    align-items: center;
}